/* navbar styling*/
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(248, 115, 6);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

/* header styling*/
h3{
    color: rgb(81, 175, 160);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

/* image styling*/
.img-thumbnail{
    padding:10px;
    border: none;
}

/* fontstyling for text*/
p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   padding:10px;
}

/* body background*/
body{
    background-color: rgb(223, 222, 222);
}

.carousel-indicators li{
    background-color: orange;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: navy;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: navy;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: navy;
}

.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}

/* image border styling*/
.pic{
    border: 3px solid rgb(81, 175, 160);
}
/* navbar styling*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
    font-size: 15px
}

.nav-item.dropdown.show {
    background-color: #ddd;
}

.dropdown-menu {
    margin: 20;
}

/* content styling*/
.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}

/* small screen adjustments*/
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(81, 175, 160)!important;    
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}